@import url(http://fonts.googleapis.com/css?family=Pompiere);


.primer:not(.primer2){
    height: 150px;
    padding-top: 20px;
}

.primer div{
    background: red;
    border: 1px solid black;
    height: 100px;

}

#middle{
    height: 120px;
}






/* INDEX + GENERAL */
.container {
    margin-top: 20px;
}

.center {
    margin: 0 auto;
}

nav div, h1, h2, h3, h4, h5, h6 {
    font-family: 'Arial';
    text-transform: uppercase;
}

.nav li {
    margin-top: 12px;
    font-size: 24px;
    text-transform: uppercase;
}

.nav li a {
    color: #000;
}

.nav li:last-child {
    margin-bottom: 10px;
}

.nav-pills>li.active>a, .nav-pills>li.active>a:focus {
    background-color: #eee;
    color: #000;
}

.nav-pills>li.active>a:hover {
    background-color: #eee;
    color: #000;
}

.carousel-control.left, .carousel-control.right {
    top: 40%;
    background: none;
    font-size: 50px;
}

.carousel-caption {
    font-size: 28px;
    bottom: 0;
}

.post {
    margin-bottom: 30px;
}

a.thumbnail:hover, a.thumbnail:focus{
    border: 1px solid black;
}

footer p {
    text-align: center;
}

@media (max-width: 992px){
    .carousel-caption {
        font-size: 18px;
    }
    .nav li {
        font-size: 20px;
    }
}

@media (max-width: 768px){
    .thumbnail {
        border: none;
    }
    a.thumbnail:hover, a.thumbnail:focus{
        border: none;
    }
}



/* SERVICES */
/*=============================================================
    Authour URL: www.designbootstrap.com

    http://www.designbootstrap.com/

    License: MIT
========================================================  */

/*============================================================
BACKGROUND COLORS
============================================================*/
.db-bk-color-one {
    background-color: #eee;
}

.db-bk-color-two {
    background-color: #eee;
}

.db-bk-color-three {
    background-color: #eee;
}

.db-bk-color-six {
    background-color: #eee;
}
/*============================================================
PRICING STYLES
==========================================================*/
.db-padding-btm {
    padding-bottom: 50px;
}
.db-button-color-square {
    color: #fff;
    background-color: rgba(0, 0, 0, 0.50);
    border: none;
    border-radius: 0px;
    -webkit-border-radius: 0px;
    -moz-border-radius: 0px;
}

.db-button-color-square:hover {
    color: #fff;
    background-color: rgba(0, 0, 0, 0.50);
    border: none;
}


.db-pricing-eleven {
    margin-bottom: 30px;
    margin-top: 50px;
    text-align: center;
    box-shadow: 0 0 5px rgba(0, 0, 0, .5);
    color: #fff;
    line-height: 30px;
}

.db-pricing-eleven ul {
    list-style: none;
    margin: 0;
    text-align: center;
    padding-left: 0px;
}

.db-pricing-eleven ul li {
    padding-top: 20px;
    padding-bottom: 20px;
    cursor: pointer;
}

.db-pricing-eleven ul li i {
    margin-right: 5px;
}


.db-pricing-eleven .price {
    background-color: rgba(0, 0, 0, 0.5);
    padding: 40px 20px 20px 20px;
    font-size: 60px;
    /*font-weight: 900;*/
    color: #FFFFFF;
}

.db-pricing-eleven .price small {
    color: #B8B8B8;
    display: block;
    font-size: 12px;
    margin-top: 22px;
}

.db-pricing-eleven .type {
    background-color: #5cb85c;
    padding: 50px 20px;
    /*font-weight: 900;*/
    text-transform: uppercase;
    font-size: 30px;
}

.db-pricing-eleven .pricing-footer {
    padding: 20px;
}

.db-attached > .col-lg-4,
.db-attached > .col-lg-3,
.db-attached > .col-md-4,
.db-attached > .col-md-3,
.db-attached > .col-sm-4,
.db-attached > .col-sm-3 {
    padding-left: 0;
    padding-right: 0;
}

.db-pricing-eleven.popular {
    margin-top: 10px;
}

.db-pricing-eleven.popular .price {
    padding-top: 80px;
}

.db-wrapper ul{
    font-size: 1.2em;
    color: #000000;
}